body{
    padding: 0;
}

main{
    margin-top: 56px;
}

nav{
    background-color: white;
}

.card-img-top{
    height: 60%;
}

.card-body{
    height: 30%;
}

@media (min-width: 1250px){
    .card{
        height: 60vh;
        width: 40vh;
        margin-left: .5rem;
    }

    main{
        min-height: 80vh;
    }

    .p-32{
        padding-left: 32px;
        padding-right: 32px;
    }

    .title-free{
        height: 15vh;
        background-color: rgb(246, 246, 246);
    }
}

@media (min-width: 1000px) and (max-width: 1250px){
    body{
        padding: 3.5rem 2rem 0 2rem;
    }

    main{
        height: auto !important;
    }

    .card{
        margin-left: .5rem !important;
        margin-top: .5rem;
        height: 60vh;
        width: 40vh;
    }

    .events{
        justify-content: center;
    }
}

@media (max-width: 1000px){
    body{
        padding: 3.5rem 2rem 0 2rem;
    }

    main{
        height: auto !important;
    }

    .card{
        margin-left: 0 !important;
    }

    .card{
        margin-top: .5rem;
    }
}