body{
    background-color: #FFEBCC;
    height: 100vh;
}

form{
    height: 3rem;
}

form .input-group{
    height: 100%;
}

/* Eliminar el timepicker per defecte del navegador */
input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display:none;
}

#date,#name{
    border-left: none;
    border-radius: 0;
    height: 100% !important;
}

#date:focus, #name:focus{
    box-shadow: none;
    border-color: #ced4da;
}

.search{
    border-radius:0;
}

#inputGroupPrepend{
    background-color: white;
    border-radius: 0;
}

footer a:hover, footer svg:hover{
    color: whitesmoke;
}

