body{
    background-color: #FFE3AC;
}

.navbar-transparent a, .navbar-transparent div ul li a{
    color: black;
}

.navbar-transparent button span{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav{
    width: 25%; /* temporal */
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

button.navbar-toggler:active{
    background-color: white;
}