/* Estil general per la web */

body{
    background-color: white;
    min-height: 100vh;
    padding: 3.5rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}

/* Estils generals del nav */

.navbar-transparent a, .navbar-transparent div ul li a{
    color: black;
}

.navbar-transparent button span{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav{
    width: 25%; /* temporal */
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

button.navbar-toggler:active{
    background-color: white;
}

.active{
    background-color: black !important;
}

.offcanvas-start{
    width: 300px;
}

#shop:hover{
    background-color: #e5e5e5;
    border-radius: 1rem;
}

.navbar-custom-toggler:focus{
    box-shadow: none;
}

.navbar-custom-toggler:active{
    background-color: transparent !important;
}

/* Footer general */

footer{
    text-align: center;
}

footer svg{
    color: black;
}

footer a:hover, footer svg:hover{
    color: #FFE3AC;
}

footer a{
    color: black;
    text-decoration: none;
}

/* Classe per els main (mentre que el height no sigui major que 100vh) */

.h75{
    height: 75vh;
}

@media (min-width: 768px) {
    .logo{
        display: none;
    }

    .title{
        display: inherit;
    }
}

@media (max-width: 768px) {
    .title{
        display: none;
    }

    .logo{
        display: inherit;
    }
}